<div
  class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30"
>
  <h1 class="mg-b-0 tx-spacing--1">AC PLN</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Sites</li>
      <li class="breadcrumb-item">Villa Bandung Indah</li>
      <li class="breadcrumb-item active" aria-current="page">
        AC PLN
      </li>
    </ol>
  </nav>
</div>

<div class="row row-xs">
  <div class="col-lg-4">
    <div class="row row-xs">
      <div class="col-lg-6">
        <div class="card mb-2">
          <iframe
            src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591863893587&to=1591867493587&theme=light&panelId=32"
            width="100%"
            height="200"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-2">
          <iframe
            src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591864016139&to=1591867616139&theme=light&panelId=30"
            width="100%"
            height="200"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-2">
          <iframe
            src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591864087491&to=1591867687492&theme=light&panelId=26"
            width="100%"
            height="200"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-2">
          <iframe
            src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591864168938&to=1591867768938&theme=light&panelId=34"
            width="100%"
            height="200"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-2">
          <iframe
            src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591864219890&to=1591867819890&theme=light&panelId=36"
            width="100%"
            height="200"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-2">
          <iframe
            src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591864240557&to=1591867840557&theme=light&panelId=38"
            width="100%"
            height="200"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div class="col-lg">
        <div class="card mb-2">
          <iframe
            src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591864295143&to=1591867895143&theme=light&panelId=40"
            width="100%"
            height="200"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card">
      <iframe
        src="https://smart-site.tritronik.com/d-solo/U2tHEdkMk/ac-pln-detail?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&from=1591864359104&to=1591867959104&theme=light&panelId=31"
        width="100%"
        height="830"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>
