<iframe
  src="http://localhost:3001/d-solo/kYq9hhiGk/integration-with-api?orgId=1&from=1591843283092&to=1591843583092&var-site_name=Sukabumi%20Dummy&theme=light&panelId=13"
  width="450"
  height="200"
  frameborder="0"
></iframe>
<iframe
  src="https://smart-site.tritronik.com/d-solo/OiC65bkGk/dashboard-site?orgId=2&var-device_id=f6b2188b-e62f-4a83-a7c6-c55b349aa892&var-site_name=Site%20Villa%20Bandung%20Indah&from=1591840683618&to=1591844283619&theme=light&panelId=75"
  width="450"
  height="200"
  frameborder="0"
></iframe>
<iframe
  src="https://smart-site.tritronik.com/d-solo/EuUr_rzGk/tritronik-smart-site?orgId=2&from=1591824688983&to=1591846288983&panelId=10"
  width="450"
  height="200"
  frameborder="0"
></iframe>
